/* The following font face will be applied to the whole html unless specific
element/s state otherwise. */
html {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #3a3a3a;
}
a {
  color: #1072a7; /* Here, I've changed the standard colour for links on
  the page. */
}
body {
  width: 75%;
  margin: 100px auto;
  margin-top: 50px;
  padding: 50px;
  /*border: 4px;
  border-color: #81cdf9;
  border-style: solid;
  border-radius: 50px;
  border-width: 3px;*/
}
h2 {
  text-align: center;
}
#inner-list {
  color: #373d68;
  font-style: italic;
}
.centre {
  /*display: grid;*/
  text-align: center;
  padding: 10px;
}
.image {
  width: 100%;
  max-width: 1024px;
  border-radius: 20px;
}
